
$backgroundColor: #020402;
$textColor: #f1fffa;
$mainColor: #c42f2f;

:root {
  --fontsize-card-title: 20px;
  --fontweight-card-title: 600;
  --fontsize-card-button: 15px;
  --fontweight-card-button: 400;
}

#card-image {
  object-fit: 'none';
  margin-top: '10px';
}

#card-button {
  margin: auto;
  color: $textColor;
}

#movie-card {
  margin-bottom: 50px;
  border-width: 10px;
  gap: 20px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
#movie-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#card-title {
  text-align: center;
  color: $mainColor;
  font-size: var(--fontsize-card-title);
  font-weight: var(--fontweight-card-title);
}

#card-button {
  font-size: var(--fontsize-card-button);
  font-weight: var(--fontweight-card-button);
  color: $mainColor;
  text-align: right;
}
 
 