#genre-card {
  margin-top: 200px;
  border-width: 10px;
  border-color: black;
}

#genre-title {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  color: #c42f2f;;
}
#genre-description {
  margin-top: 20px;
}
