#profile-card {
  margin-top: 50px;
  border-width: 10px;
}

#profile-header {
  font-size: 24px;
  text-align: center;
}

#favourite-card {
  border-width: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#user-header {
  font-size: 22px;
}

#user-favmovie-card {
  margin-top: 15px;
}