$backgroundColor: #020402;
$textColor: #f1fffa;
$mainColor: #c42f2f;

:root {
  --fontsize-movie-title: 30px;
  --fontweight-movie-title: 600;
  --fontsize-movie-description: 20px;
  --fontweight-movie-description: 400;
}

#movie-vieww {
  border-width: 10px;
  border-color: $backgroundColor;
  margin-top: 30px;
}

#movie-title {
  text-align: center;
  text-decoration: underline ;
  font-size: var(--fontsize-movie-title);
  font-weight: var(--fontweight-movie-title);
  color: $mainColor;
}

#movie-description {
  font-size: var(--fontsize-movie-description);
  font-weight: var(--fontweight-movie-description);
}

#movie-director {
  font-size: var(--fontsize-movie-description);
  font-weight: var(--fontweight-movie-description);
}

#movie-genre {
  font-size: var(--fontsize-movie-description);
  font-weight: var(--fontweight-movie-description);
}

#movie-view-button {
  margin-top: 10px;
  margin-bottom: 5px;
  color: $textColor;
  background-color: $backgroundColor;
  border: none;
} 
