 .registration-card {
  border-radius: 20%;
  margin-top: 150px;
}
.cardheader {
  text-align: center;
  font-size: 24px;
}
.form-label {
  margin-top: 10px;
}
.register-button {
  margin-top: 20px;
} 