// Login Page Styling
.login-header {
  text-align: center;
  font-size: 24px;
}

.login-card {
  border-radius: 30%;
  margin-top: 150px;
}

.login-button {
  margin-top: 20px;
}

.register-button {
  margin-top: 20px;
}